#set($regex = "([a-z])([A-Z]+)")
#set($replacement = "$1_$2")
#set($DESCRIPTION = $NAME.replaceAll($regex, $replacement).toLowerCase())
#set($DESCRIPTION = $DESCRIPTION.replace('get_', 'Returns '))
#set($DESCRIPTION = $DESCRIPTION.replace('set_', 'Sets '))
#set($DESCRIPTION = $DESCRIPTION.replace('test_', 'Testing '))
#set($DESCRIPTION = $DESCRIPTION.replace('_', ' '))
#set($DESCRIPTION = $DESCRIPTION.substring(0, 1).toUpperCase() + $DESCRIPTION.substring(1))

/**
${DESCRIPTION}
#if (${PARAM_DOC}) * 
#end
${PARAM_DOC}
#if (${PARAM_DOC}) * 
#end
* @return ${TYPE_HINT}
#parse("PHP author")
${THROWS_DOC}
*/
